<div class="mdk-header-layout__content page-content " style="padding-top: 64px;">

	<div class="mdk-box mdk-box--bg-gradient-primary bg-dark js-mdk-box position-relative overflow-hidden mb-0" data-effects="parallax-background blend-background" data-domfactory-upgraded="mdk-box">
		<div class="mdk-box__bg" style="visibility: visible;">
			<div class="mdk-box__bg-front" style="background-image: url(&quot;assets/images/1280_work-station-straight-on-view.jpg&quot;); transform: translate3d(0px, 84.8251px, 0px); will-change: opacity; opacity: 0.67062; margin-top: -257.532px;"></div>
		<div class="mdk-box__bg-rear" style="transform: translate3d(0px, 84.8251px, 0px); will-change: opacity; opacity: 0.32938; margin-top: -257.532px;"></div></div>
		<div class="mdk-box__content">
			<div class="container page__container py-64pt py-md-112pt">
				<div class="row align-items-center text-center text-md-left">
					<div class="col-md-6 col-lg-5 order-1 order-md-0">
						<h1 class="text-white">Learn <span class="d-block d-md-inline-block text-scramble js-text-scramble" data-domfactory-upgraded="text-scramble">Design</span></h1>
						<p class="lead mb-32pt mb-lg-48pt text-white">Business, Technology and Creative Skills taught by industry experts. Explore a wide range of skills with our professional tutorials.</p>
						<a href="/library.html" class="btn btn-lg btn-white btn--raised mb-16pt">Browse Courses</a>
						<p class="mb-0"><a href="" class="text-white-70 text-underline"><strong>Are you a teacher?</strong></a></p>
					</div>
					<div class="col-md-6 col-lg-7 order-0 order-md-1 text-center mb-32pt mb-md-0">
						<img src="/assets/images/macbook.png" alt="macbook" class="home-macbook">
					</div>
				</div>
			</div>
			<!-- <div class="hero container text-center py-112pt">
<h1 class="text-white">Learn to Code</h1>
<p class="lead measure-hero-lead mx-auto mb-48pt text-white">Business, Technology and Creative Skills taught by industry experts. Explore a wide range of skills with our professional tutorials.</p>
<a href="library.html" class="btn btn-lg btn-outline-white">Browse Courses</a>
</div> -->
		</div>
	</div>

	<div class="bg-white border-bottom-2 py-16pt py-sm-24pt py-md-32pt ">
		<div class="container page__container">
			<div class="row align-items-center">
				<div class="d-flex col-md align-items-center border-bottom border-md-0 mb-16pt mb-md-0 pb-16pt pb-md-0">
					<div class="rounded-circle bg-primary w-64 h-64 d-inline-flex align-items-center justify-content-center mr-16pt">
						<i class="material-icons text-primary-light">subscriptions</i>
					</div>
					<div class="flex">
						<p class="mb-0"><strong> Courses</strong></p>
						<p class="text-black-70 mb-0">Explore a wide range of skills.</p>
					</div>
				</div>
				<div class="d-flex col-md align-items-center border-bottom border-md-0 mb-16pt mb-md-0 pb-16pt pb-md-0">
					<div class="rounded-circle bg-primary w-64 h-64 d-inline-flex align-items-center justify-content-center mr-16pt">
						<i class="material-icons text-primary-light">verified_user</i>
					</div>
					<div class="flex">
						<p class="mb-0"><strong>By Industry Experts</strong></p>
						<p class="text-black-70 mb-0">Professional development from the best people.</p>
					</div>
				</div>
				<div class="d-flex col-md align-items-center">
					<div class="rounded-circle bg-primary w-64 h-64 d-inline-flex align-items-center justify-content-center mr-16pt">
						<i class="material-icons text-primary-light">update</i>
					</div>
					<div class="flex">
						<p class="mb-0"><strong>Unlimited Access</strong></p>
						<p class="text-black-70 mb-0">Unlock Library and learn any topic with one subscription.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="page-section border-bottom-2">
		<div class="container page__container">
			<div class="row align-items-end mb-16pt mb-md-32pt">
				<div class="col-md-auto mb-32pt mb-md-0">
					<div class="page-headline page-headline--title text-center text-md-left p-0">
						<h2>Top Courses</h2>
					</div>
				</div>
				
			</div>


			<div class="row">
				{{#each library.classes as |class|}}
				<div class="col-sm-6 col-md-4 col-lg-3">

					<div class="card card--elevated card-course overlay js-overlay mdk-reveal js-mdk-reveal " data-partial-height="40" data-toggle="popover" data-trigger="click" data-original-title="" title="" data-domfactory-upgraded="mdk-reveal,overlay" style="height: 208px;">


						<a href="/path/{{class._id}}" class="js-image" data-position="center" data-height="auto" data-domfactory-upgraded="image" style="display: block; position: relative; overflow: hidden; background-image: url(&quot;http://tutorio-bootstrap.frontendmatter.com/assets/images/paths/angular_430x168.png&quot;); background-size: cover; background-position: center center; height: 168px;">
							
							<span class="overlay__content">
								<span class="overlay__action d-flex flex-column text-center">
									<i class="material-icons">play_circle_outline</i>
									<small>Preview course</small>
								</span>
							</span>
						</a>

						<span class="corner-ribbon corner-ribbon--default-right-top corner-ribbon--shadow bg-accent text-white">NEW</span>

						<div class="mdk-reveal__content"><div class="mdk-reveal__partial" style="height: 40px;"></div>
							<div class="card-body">
								<div class="d-flex">
									<div class="flex">
										<a class="card-title" href="/path/{{class._id}}">{{class.hcName}}</a>
										<small class="text-50 font-weight-bold mb-4pt">{{class.teacher}}</small>
									</div>
									<a href="javascript:void(0)" class="ml-4pt material-icons text-20 card-course__icon-favorite">favorite</a>
								</div>
								
							</div>
						</div>
					</div>
					<div class="popoverContainer d-none">
						<div class="media">
							<div class="media-left">
								<img src="/assets/images/paths/angular_40x40@2x.png" width="40" height="40" alt="{{class.hcName}}" class="rounded">
							</div>
							<div class="media-body">
								<div class="card-title mb-0">{{class.hcName}}</div>
								<p class="lh-1 mb-0">
									<span class="text-black-50 small">with</span>
									<span class="text-black-50 small font-weight-bold">{{class.teacher}}</span>
								</p>
							</div>
						</div>

						<p class="my-16pt text-black-70">{{class.desc}}</p>

						<div class="mb-16pt">
							{{#each library.subjects as |subject|}}
							{{#if (isInString subject._id class.hcStreams)}}
							<div class="d-flex align-items-center">
								<span class="material-icons icon-16pt text-black-50 mr-8pt">check</span>
								<p class="flex text-black-50 lh-1 mb-0"><small>{{subject.hcName}}</small></p>
							</div>
							{{/if}}
							{{/each}}
						</div>

						<div class="row align-items-center">
							<div class="col-auto">
								
								
							</div>
							<div class="col text-right">
								{{#if (isInList user._id class.users)}}
								<a href="/path/{{class._id}}"  class="btn btn-primary">RESUME </a>
								{{else}}
								<a href="/path/{{class._id}}"  class="btn btn-primary">Start Now </a>
								{{/if}}
								
							</div>
						</div>

					</div>

				</div>
				{{/each}}
			</div>
			<div class="pt-md-16pt text-center">
				<a href="/library.html" class="btn btn-outline-secondary">Browse Courses</a>
			</div>
		</div>
	</div>

	<div class="page-section bg-white border-bottom-2">
		<div class="container page__container">
			<div class="page-headline text-center">
				<h2>Learning Paths</h2>
			</div>

			

			<div class="row mt-16pt mt-lg-32pt">
				{{#each library.classes as |class|}}
				<div class="col-i8-6 col-md-3 mb-16pt">
					<a href="/path/{{class._id}}" class="media">
						<img src="/assets/images/paths/angular_40x40@2x.png" width="40" height="40" alt="Angular" class="media-left rounded">
						<span class="media-body">
							<span class="card-title text-body d-block mb-0">{{class.hcName}}</span>
							<span class="text-muted d-flex lh-1">{{class.subjects.length}} subjects</span>
						</span>
					</a>
				</div>
				{{/each}}
				
			</div>

			<div class="pt-8pt pt-md-32pt text-center">
				<a href="/paths.html" class="btn btn-outline-secondary">Browse Learning Paths</a>
			</div>
		</div>
	</div>

	

	<div class="js-fix-footer bg-white border-top-2" data-domfactory-upgraded="fix-footer" style="opacity: 1;">
		<div class="container page-section py-lg-48pt">
			<div class="row">
				<div class="col-md-8">
					<div class="row">
						<div class="col-6 col-md-4 mb-24pt mb-md-0">
							<h4 class="text-70">Learn</h4>
							<nav class="nav nav-links nav--flush flex-column">
								<a class="nav-link" href="/library.html">Library</a>
								<a class="nav-link" href="/library-featured.html">Featured</a>
								<a class="nav-link" href="/library-filters.html">Explore</a>
								<a class="nav-link" href="/paths.html">Learning Paths</a>
							</nav>
						</div>
						<div class="col-6 col-md-4 mb-24pt mb-md-0">
							<h4 class="text-70">Join us</h4>
							<nav class="nav nav-links nav--flush flex-column">
								<a class="nav-link" href="/pricing">Pricing</a>
								<a class="nav-link" href="/login">Login</a>
								<a class="nav-link" href="/signup">Sign Up</a>
								<a class="nav-link" href="/payment">Payment</a>
							</nav>
						</div>
						<div class="col-6 col-md-4 mb-32pt mb-md-0">
							<h4 class="text-70">Community</h4>
							<nav class="nav nav-links nav--flush flex-column">
								<a class="nav-link" href="/discussions">Discussions</a>
								<a class="nav-link" href="/discussions/ask">Ask Question</a>
								<a class="nav-link" href="/profile">Student Profile</a>
								<a class="nav-link" href="/instructor-profile.html">Instructor Profile</a>
							</nav>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-md-right">
					<p class="text-70 brand justify-content-md-end">
						<img class="brand-icon" src="/assets/images/logo/black-70@2x.png" width="30" alt="Tutorio"> Tutorio
					</p>
					<p class="text-muted mb-0 mb-lg-16pt">Tutorio is an online learning platform that helps anyone achieve their personal and professional goals.</p>
				</div>
			</div>
		</div>
		<div class="bg-footer page-section py-lg-32pt">
			<div class="container">
				<div class="row">
					<div class="col-md-2 col-sm-4 mb-24pt mb-md-0">
						<p class="text-white-70 mb-8pt"><strong>Follow us</strong></p>
						<nav class="nav nav-links nav--flush">
							<a href="#" class="nav-link mr-8pt"><img src="/assets/images/icon/footer/facebook-square@2x.png" width="24" height="24" alt="Facebook"></a>
							<a href="#" class="nav-link mr-8pt"><img src="/assets/images/icon/footer/twitter-square@2x.png" width="24" height="24" alt="Twitter"></a>
							<a href="#" class="nav-link mr-8pt"><img src="/assets/images/icon/footer/vimeo-square@2x.png" width="24" height="24" alt="Vimeo"></a>
							<a href="#" class="nav-link"><img src="/assets/images/icon/footer/youtube-square@2x.png" width="24" height="24" alt="YouTube"></a>
						</nav>
					</div>
					<div class="col-md-6 col-sm-4 mb-24pt mb-md-0 d-flex align-items-center">
						<a href="" class="btn btn-outline-white">English <span class="icon--right material-icons"><i class="fa fa-caret-down"></i></span></a>
					</div>
					<div class="col-md-4 text-md-right">
						<p class="mb-8pt d-flex align-items-md-center justify-content-md-end">
							<a href="" class="text-white-70 text-underline mr-16pt">Terms</a>
							<a href="" class="text-white-70 text-underline">Privacy policy</a>
						</p>
						<p class="text-white-50 mb-0">Copyright 2024 © All rights reserved.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>